= simple_form_for(@comment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :text
    = f.association :user, label_method: :email
    = f.input :user_name
    = f.association :post, label_method: :caption
    = f.input :status

  .form-actions
    = f.button :submit
