h1 Listing comments

table.table
  thead
    tr
      th Text
      th User
      th User name
      th Post
      th Status
      th
      th
      th

  tbody
    - @comments.each do |comment|
      tr
        td = comment.text
        td = comment.user_id
        td = comment.user_name
        td = comment.post_id
        td = comment.status
        td = link_to 'Show', comment
        td = link_to 'Edit', edit_comment_path(comment)
        td = link_to 'Destroy', comment, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Comment', new_comment_path
