p#notice = notice

p
  strong Text:
  = @comment.text
p
  strong User:
  = @comment.user_id
p
  strong User name:
  = @comment.user_name
p
  strong Post:
  = @comment.post_id
p
  strong Status:
  = @comment.status

= link_to 'Edit', edit_comment_path(@comment)
'|
= link_to 'Back', comments_path
