.header
  .collapse1.navbar
    ul.nav.navbar-nav
      li.main-link =link_to "Main", root_path
      - if current_user && current_user.admin?(current_user)
        li.main-link =link_to "Tags", tags_path
        li.main-link =link_to "Category", categories_path
        li.main-link =link_to "Comments", comments_path
      li =link_to "Sing_up", new_user_registration_path
      -if current_user
        li =link_to current_user.email, root_path
        li =link_to "Log_out", destroy_user_session_path, :method => :delete
      -else
        li =link_to "Log_in", new_user_session_path

