.row
  .col-xs-10.col-md-10
    =form_tag(posts_path, method: "get") do
      div
        = label_tag :sort, 'Sort by date'
        = select_tag :sort, options_for_select([['sort desc', 'desc'], ['sort asc', 'asc']], params[:sort])
      div
        = label_tag :category_id, 'Category'
        = select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name), {include_blank: 'None'})
      div
        label Tags:
        - Tag.all.each do |tag|
          = check_box_tag("tag_ids[]", tag.id)
          = label_tag tag.name

      = submit_tag 'Filter'