= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :caption
    = f.input :article
    = f.association :category
    = f.association :tags, as: :check_boxes

    label for="new_tag" Новые теги
    input#new_tag type="text" name="post[new_tag]"

  .form-actions
    = f.button :submit, :class => 'btn btn-default'