= render 'search_from'
= render 'filter'

h1 Listing posts

table.table
  thead
    tr
      th Caption
      th Article
      th Category
      th Tags
      th Date
      th
      th

  tbody
    - @posts.each do |post|
      tr
        td = link_to post.caption, post
        td = post.article
        td = post.category.name
        td = post.tags.map{|v| v.name}.join ', '
        td = post.created_at.strftime('%F %T')
        - if current_user && current_user.admin?(current_user)
          td = link_to 'Edit', edit_post_path(post)
        - if current_user && current_user.admin?(current_user)
          td = link_to 'Destroy', post, data: {:confirm => 'Are you sure?'}, :method => :delete

br


.row
  .col-xs-12.col-md-12
    = paginate @posts

- if current_user && current_user.admin?(current_user)
  = link_to 'New Post', new_post_path
