- if @posts.nil? or @posts.size == 0
  p no result
- else
  - @posts.each do |post|
    div
      p
        strong Caption:
        = link_to (sanitize post.caption.gsub(@search, '<b>'+@search+'</b>'), tags: %w(b)), post_path(post)
      p
        strong Article:
        = sanitize post.article.gsub(@search, '<b>'+@search+'</b>'), tags: %w(b)