p#notice = notice

p
  strong Caption:
  = @post.caption
p
  strong Article:
  = @post.article
p
  strong Category:
  = @post.category.name
p
  strong Tags:
  = @post.tags.map{|v| v.name}.join ', '

p
  strong Comments:
  - @post.comments.each do |comment|
    p
      strong Name:
      = comment.text


= simple_form_for(Comment.new) do |f|
  = f.error_notification

  .form-inputs
    - if current_user
      = f.input :user_name, :input_html => {:value => current_user.email}
    - else
      = f.input :user_name
    = f.input :text
    - if not current_user
      = show_simple_captcha(:object=>'comment')
    /= f.association :post, label_method: :caption
    = f.input :post_id, :as => :hidden, :input_html => {:value => @post.id}

  .form-actions
    = f.button :submit

- if current_user && current_user.admin?(current_user)
  = link_to 'Edit', edit_post_path(@post)
  '|
= link_to 'Back', posts_path
