p#notice = notice

p
  strong Name:
  = @category.name
p
  strong Parent:
  = @category.parent_id

p
  strong Parent:
  = @category.parent_name

= link_to 'Edit', edit_category_path(@category)
'|
= link_to 'Back', categories_path
