doctype html

html
  head
    title Test Job
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags


  body
    header
      = render 'shared/header'
    .content-page
      .container-fluid
        .row
          .col-xs-10.col-md-10
            = yield


  =javascript_include_tag "application", "data-turbolinks-track" => true